@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url("https://use.typekit.net/foc1bao.css");


.image-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-rows: 19vw;
  background-color: white;
  padding: 10px;
}

.gallery_img{
  max-width: 19vw;
  height: 19vw;
  object-fit: cover; 
  object-position: 50% 50%;
}

.image-container > div {
  text-align: center;
  font-size: 30px;
}

.image-container > div:hover{
  opacity: .8;
}

h2{
  font-family: 'cabazon' ,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: left;
  position: absolute;
  top: 4%; 
  right: 17%;
}

h2:hover{
  color: #9fae22;
}

