@import url("https://use.typekit.net/foc1bao.css");

h2{
  font-family: 'cabazon' ,serif;
  font-weight: 400;
  font-style: normal;
  color: #cf6e48;
  font-size: 80px;
  text-align: left;
  padding: 0px 36px
  ;
}

h2:hover{
  color: #71733F;
}